<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
  			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  			crossorigin="anonymous"></script>
 <style type="text/css">
 .login_warn{
    margin-top: 30px;
    text-align: center;
    color : red;
}
 
 </style>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login_form" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="id_input" name="memberId">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="pw_input" name="password" type="password">
          </div>
          <div class="login_warn">사용자ID 또는 비밀번호를 잘못 입력하셨습니다.</div>
          <input id="result" th="${result}" type="hidden"> 
            <input class="login_button"type="button" value="Login">
  			<input type ="button" class="join_button" href="/memberJoin" value="회원가입">        
  			</form>
    </div>
    <script>

	/* 로그인 버튼 클릭 메서드 */
	$(".login_button").click(function() {
		$("#login_form").attr("action", "/login");
		$("#login_form").submit();
		
	    var result = '$(result)';
	    //var loginResult = JSON.stringify(result);	    
	    if(result==0){
			alert('사용자ID 또는 비밀번호를 잘못 입력하셨습니다.');

	    }
		
	});
	 $(document).ready(function() {
         $(".join_button").click(function() {
             window.location.href = $(this).attr('href');
         });
         


         
     });

	    </script>
</body>
</html>