<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
  			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  			crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login_form" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="id_input" name="memberId">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="pw_input" name="memberPw" type="password">
            </div>
            <input class="login_button"type="button" value="Login">
  			<input type ="button" class="join_button" href="/memberJoin" value="회원가입">        
  			</form>
    </div>
    <script>

	/* 로그인 버튼 클릭 메서드 */
	$(".login_button").click(function() {
		$("#login_form").attr("action", "/login");
		$("#login_form").submit();
		
	});
	 $(document).ready(function() {
         $(".join_button").click(function() {
             window.location.href = $(this).attr('href');
			 
         });
     });
	</script>
</body>
</html>