<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- 필요한 CSS 파일 또는 스타일 시트를 여기에 추가하세요 -->
    <style type="text/css">
    
    /* 중복아이디 존재하지 않는 경우 */
.id_input_re_1{
	color : green;
	display : none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2{
	color : red;
	display : none;
}
    </style>
<script type="text/javascript">

</script>

<script  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>


<script>
$(document).ready(function(){
    $('#memberId').on("propertychange change keyup paste input", function() {
        //console.log("keyup 테스트");
 
        var memberId = $('#memberId').val();	// .id_input에 입력되는 값
    	var data = {memberId : memberId}		// '컨트롤에 넘길 데이터 이름' : '데이터(.id_input에 입력되는 값)'
		
    	
    	$.ajax({
    		type : "post",
    		url : "/memberIdChk",
    		data : data,
    		success : function(result) {
    			//console.log("성공 여부" + result);
    			if (result != 'fail') {
				$('.id_input_re_1').css("display", "inline-block");
				$('.id_input_re_2').css("display", "none");				
			} else {
				$('.id_input_re_2').css("display","inline-block");
				$('.id_input_re_1').css("display", "none");	
			}
    		} //success 종료
    	}); //ajax 종료
        
        
    });
});

</script>
</head>
<body>
    <h2>회원가입</h2>
    <form id="join_form" method="post" action="/memberJoin" >
        <div>
            <label for="username">사용자 이름:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="memberId">ID입력: </label>
            <input type="text" id="memberId" name="memberId" required>
            <span class="id_input_re_1">사용 가능한 아이디입니다.</span>
			<span class="id_input_re_2">아이디가 이미 존재합니다.</span>
        </div>
        <div>
            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">가입하기</button>
    </form>
</body>
</html>
