<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.basicBoard.domain.board.mapper.MemberMapper">
	<insert id="memberJoin" parameterType="com.company.basicBoard.domain.board.model.MemberVO">
		  INSERT INTO member ( member_Id, username,email, password )
        VALUES (#{memberId},#{username}, #{email}, #{password})
	</insert>
	
	<select id="idCheck" resultType="int">
  		select count(*) from member 
  		where MEMBER_ID = #{memberId}
  	</select>
  	<!-- 로그인 -->
  	<select id="memberLogin" resultType="com.company.basicBoard.domain.board.model.MemberVO">
  		select member_Id, username, email from book_member where memberId = #{memberId} and password = #{password}
	</select>
</mapper>