<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	
	<!-- ✅ 추가 -->
	<link type="text/css" href="/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="/js/com-ajax.js"></script>
	<script type="text/javascript" src="/js/com-page.js"></script>
	    <script src="https://code.jquery.com/jquery-3.4.1.js"
  			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  			crossorigin="anonymous"></script>
</head>
<script type="text/javascript">

	// 페이지 온로드시 게시글 목록 조회
	window.onload = function () {
		getList();
	}

	// 게시글 목록 조회
	function getList(pageNo) {
		
		// ✅ 페이지번호 추가 
		pageNo = pageNo || 0;
		
		const title = document.querySelector("#title").value;
		const writer = document.querySelector("#writer").value;
		
		// ✅ 파라미터 전달시에도 추가
		const data = "?title=" + title + "&writer=" + writer + "&page=" + pageNo;
		
		AJAX.ajaxCall("GET", "/boards", data, afterGetList);
	}
	
	// 조회 후 처리
	function afterGetList(response) {
		
		// ✅ 페이징 처리
		PAGE.paging(response.totalPages, response.number, response.totalElements, "getList");
		
		// 결과 테이블 생성
		resultTable(response);
	}
	function fn_sub(boardId){
			
		// 파라미터를 포함한 URL 생성
		const url = '/detailBoards?boardId='+boardId;

		// 새로운 페이지로 이동
		window.location.href = url;
		
			//const boardId = document.
			//const data = "?boardId="+boardId;
		    //location.href = "?boardId="+boardId;

					
	}
	// 동적으로 테이블 생성
	function resultTable(response) {
		document.querySelector("#fieldListBody").innerHTML = "";
		
		if (response.size > 0) {
			const content = response.content;
			
			// ✅ 반복문 변경 (Pageable 결과값을 기준으로 값 가져오기 위함)
			for (var i = 0; i < content.length; i++) {
				
				let element = document.querySelector("#fieldListBody");
				
				let result = content[i];
				let template = `
					<!--<td><input type="hidden" id="boardId">${result.boardId}</td> -->
					<td><p>${PAGE.pageRowNumber(response.number, response.size, i, response.totalElements)}</p></td>
					<td><p><a href="javascript:void(0);" onclick="fn_sub(${result.boardId})">${result.title}</a></p></td>
					<td><p>${result.writer}</p></td>
					<td><p>${result.regDate}</p></td>
				`;
				element.insertAdjacentHTML('beforeend', template);
			}
		}
	}
	
	// 초기화
	function resetList() {
		document.querySelector("#title").value = "";
		document.querySelector("#writer").value = "";
		document.querySelector("#fieldListBody").innerHTML = "";
		
		getList();
	}
	
	// 게시글 등록
	function insertBoard() {
	    const title = document.querySelector("#inputTitle").value;
	    const writer = document.querySelector("#inputWriter").value;
	    const content = document.querySelector("#inputContent").value;
		const data = "?title=" + title + "&writer=" + writer + "&content=" + content;
	    

	    AJAX.ajaxCall("GET", "/insertBoards", data, afterInsertBoard);
	}

	// 등록 후 처리
	function afterInsertBoard(response) {
	    alert("게시글이 등록되었습니다.");
	    resetForm();
	    getList(); // 등록 후 목록 갱신
	}
	function afterUpdateBoard(){
		
	}

	// 폼 초기화
	function resetForm() {
	    document.querySelector("#inputTitle").value = "";
	    document.querySelector("#inputWriter").value = "";
	    document.querySelector("#inputContent").value = "";
	}
	
	
</script>
<script>
$(document).ready(function() {
    $(".join_button").click(function() {
        window.location.href = $(this).attr('href');
    });
});
</script>
<body>
	<div>
	
	
		<div>
</div>
		<h2>게시판 목록</h2>
		<table>
			<tr>
				<th>제목</th>
				<td><input type="text" id="title"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td><input type="text" id="writer"></td>
			</tr>
			<tr>
				<td><button onclick="getList()">조회</button></td>
				<td><button onclick="resetList()">초기화</button></td>
				<td><button onclick="window.location.href='insert'">등록</button></td>
				<input type ="button" class="join_button" href="/memberJoin" value="회원가입">        
				
				
			</tr>
		</table>
		<!-- ✅ 페이지 요소 추가 -->
		<input type="hidden" name="page" id="page" value="0" />
	</div>
	<div>
		<table>
			<colgroup>
				<!-- ✅ 페이지 번호 추가 -->
				<col width="150px" />
				<col width="150px" />
				<col width="150px" />
				<col width="250px" />
			</colgroup>
			<thead>
				<tr>
					<!-- ✅ 페이지 번호 추가 -->
					<th>No.</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성시간</th>
				</tr>
			</thead>
			<tbody id="fieldListBody">
			</tbody>
		</table>
		<!-- ✅ 페이징 표시되는 부분 추가 -->
		<ul id = "pagingArea" class="pagination"></ul>
	</div>
</body>
</html>