.page_prev_on {
	background-image: url(../image/page_prev_on.png);
}
.page_prev_off {
	background-image: url(../image/page_prev_off.png);
}
.page_left_on {
	background-image: url(../image/page_left_on.png);
}
.page_left_off {
	background-image: url(../image/page_left_off.png);
}
.page_right_on {
	background-image: url(../image/page_right_on.png);
}
.page_right_off {
	background-image: url(../image/page_right_off.png);
}
.page_next_on {
	background-image: url(../image/page_next_on.png);
}
.page_next_off {
	background-image: url(../image/page_next_off.png);
}
.icon {
	background-repeat: no-repeat;
	background-size: contain;
	padding: 15px;
}
.pagination {
	display: inline-block;
	list-style: none;
}
.pagination li {
	color: pink;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}